body {
    margin: 0 auto;
}

.title {
    color: wheat;
    text-align: center;
    background-color: brown;
}

.title h1 {
    margin: 0;
}

.dealer {
    width: 100vw;
    height: 200px;
    background-color: rgb(118, 118, 234);
    
}

.table {
    width: 100vh;
    height: 67vh;
    background-color: rgb(8, 78, 42);
}

.upper {
    height: 50%;
}

.lower {
    height: 50%;
}

.player {
    width: 200vw;
    height: 200px;
    background-color: rgb(71, 17, 68);
    display: flex;
    
}

.dealBtn {
    width: 200px;
    height: 200px;
}

.stayBtn {
    width: 200px;
    height: 200px;
}

.gameOff {
    display: none;
}
